@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.main{
  height: 1000px;
  width: 100%;
  background-color: #FBFBFB;
  background-size: cover;
}

.calendar-container {
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #04285B;
  padding: 20px;
  width: 350px;
  height: 600px;
  margin-left: 390px;
  margin-top: 100px;
}

.calendar-header {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.calendar-header button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
}

.calendar-days {
  font-family: "Lexend Deca", sans-serif;
  font-size: 8px; 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: #FFFFFF;
}

.day-name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

.day {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  text-align: left;
}

.day-number {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px; 
  text-align: left;
}

.past-day {
  font-family: "Lexend Deca", sans-serif;
  color: #989898;
  text-align: left;
}

.current-day {
  font-family: "Lexend Deca", sans-serif;
  background-color: #FFFFFF;
  border-radius: 100%;
  /*text-align: left;*/
}

.future-day {
  font-family: "Lexend Deca", sans-serif;
  background-color: #ECECEC; 
  text-align: left;
}

.containertopic{
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  margin-top: -2px;
}

.time-container{
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  padding: 20px;
  width: 350px;
  height: 600px;
  margin-left: 740px;
  margin-top: -600px;
}
.title{
  text-align: center;
  color: #22272C;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  padding-top: 30px;
}

.inside{
  text-align: center;
  color: #22272C;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  line-height: 0.8;
}

.dropdown {
  width: 300px; 
  text-align: center;
  padding-top: 20px;
  margin-left: 6px;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #E5EAF0;
  font-weight: 200;
}

.dropdown select:focus {
  outline: none;
  border-color: #007bff; 
}
.timetitle{
  text-align: left;
  color: #404040;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: -5px;
}

.timeinside{
  text-align: left;
  color: #404040;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-top: 30px;
  line-height: 0.2;
}

.country{
  text-align: left;
  color: #076DE8;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 11px;
  margin-top: 20px;
}

.timeslots{
  font-family: "Poppins", sans-serif;
  padding-top: 7px;
}

.timeslots button{
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 300px;
  border: 1px solid #000000;
  height: 35px;
  background-color: transparent;
  font-weight: 200;
  font-size: 15px;
  
}

.appointmentbutton{
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100px;
  font-size: 12px;
  margin-top: 70px;
  margin-left: 46%;
 
}

.appointmentbutton button {
  border-top-left-radius: 30px; 
  border-bottom-right-radius: 30px; 
  border-top-right-radius: 30px; 
  border-bottom-left-radius: 30px;
  background-color: #076DE8;
  color: #FFFFFF;
  height: 30px;
  font-weight: 200;
  border: none;
  width: 120px;
}